<!DOCTYPE html>
<html>
<head>
   <link rel="stylesheet" href="home.css">
</head>
<body>
    <div class="txt">Welcome to INVITE</div>
    <button class="button" onclick="window.location.href='/reg';"><span>Start </span></button>
</body>
</html>